.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.commondiv {
  border-radius: 15px;
  background-color: #f2f2f2 !important;
  color: black;
  padding: 20px;
  margin: 20px;
  box-shadow: 1px 1px 6px 1px black;
}

.data {
  font-size: 16px;
  margin-left: 5px;
}
.heading {
  font-size: 18px !important;
}

.dataimage {
  width: 150px;
  height: 150px;
}
.favouriteactive {
  color: red;
}
.favouriteinactive {
  color: pink;
}
.col-form-label {
  font-size: 16px !important;
}
